:root {
  --bg-color: rgba(35, 40, 44, 1);
  --text-secondary: rgba(255, 255, 255, 0.45);
  --text-primary: rgba(255, 255, 255, 0.9);
  --focus-border-color: rgba(0, 192, 234, 1);
  --border-color: rgba(255, 255, 255, 0.15);
}

body {
  font-family: 'Inter';
  font-size: 14px;
  line-height: 20px;
  padding: 0 48px;
  background-color: var(--bg-color);
  color: var(--text-secondary);
}

header,
footer {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid var(--border-color);
}

h1,
h2 {
  color: var(--text-primary);
  font-weight: 700;
}

h1 {
  font-size: 18px;
  line-height: 20px;
}

h2 {
  margin-bottom: 16px;
}

a {
  color: var(--text-secondary);
  transition: all 100ms ease-in-out;
  text-decoration: none;
  border-bottom: 1px solid var(--text-secondary);
}

a:hover {
  color: var(--text-primary);
  border-color: var(--text-primary);
}

a:focus {
  border: 1px solid var(--focus-border-color);
}

button {
  font-size: 1rem;
  cursor: pointer;
}
