@import 'reset.css';
@import 'fonts.css';
@import 'base.css';
@import 'theme-dark.css';

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 48px;
  padding: 32px 0 96px;
}

textarea,
.CodeMirror {
  width: 100%;
  border-radius: 6px;
}

textarea {
  resize: vertical;
  background-color: var(--code-bg-color);
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.CodeMirror {
  height: 100%;
}

.options-wrapper h2 {
  padding: 32px 0 16px 0;
  border-bottom: 1px solid var(--border-color);
}

#options {
  margin-top: 1.5rem;
  font-family: 'Menlo';
}

#options > div {
  margin-bottom: 16px;
}

#options > div label {
  min-width: 18rem;
  display: inline-block;
  color: var(--text-primary);
}

#options > div select {
  width: 8rem;
}

#options > div input {
  width: 7.5rem;
}

.with-format-button {
  display: flex;
  justify-content: space-between;
}

.sticky {
  position: sticky;
  top: 20px;
  z-index: 999;
  float: right;
  margin-top: -5px;
}
