@import 'reset.css';
@import 'fonts.css';
@import 'base.css';

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

textarea,
.CodeMirror {
  width: 100%;
  border: 1px solid var(--border-color);
}

textarea {
  resize: vertical;
  font-size: 1rem;
}

.CodeMirror {
  height: 100%;
}

#options {
  margin-top: 1.5rem;
}

#options > div {
  margin-bottom: .3rem;
}

#options > div label {
  min-width: 18rem;
  display: inline-block;
}

#options > div select {
  width: 8rem;
}

#options > div input {
  width: 7.5rem;
}

.links {
  text-align: right;
  margin-bottom: 2rem;
}